* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333366;
    margin-bottom: 20px;
}

#greeting {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

#clickMe {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#clickMe:hover {
    background-color: #1b531d;
}

#changeColor {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#changeColor:hover {
    background-color: #333366;
}

#closePopup {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#closePopup:hover {
    background-color: #a71d1d;
}

.container {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container p {
    color: #777;
    font-style: italic;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    align-content: center;
}